output {
    stdout { }
    elasticsearch {
        host => "{{ monitoring_host }}"
        index => "{{ logstash_index|default('alfresco-logstash') }}-%{+YYYY.MM.dd}"
        protocol => http
        port => 9200
    }
}
