[Unit]
Description=SQS Worker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ sqs_image }}
ExecStart=/usr/bin/docker run --rm --name %n \
    -e APP_ENVIRONMENT=dev \
    -e SQS_QUEUE_NAME={{ sqs_queue_name }} \
    -e SQS_POLL_INTERVAL={{ sqs_poll_interval }} \
    --entrypoint backup-tasks \
    {{ sqs_image }} worker

[Install]
WantedBy=multi-user.target