<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    {% set domain = lookup('env', 'HMPPS_DOMAIN') or '' -%}
    {% if domain != '' -%}
    <Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
             memcachedNodes="{{ memcached_url|default('memcached.'+lookup('env', 'HMPPS_DOMAIN'))}}|{{ memcached_port|default('11211') }}"
             sticky="false"
             sessionBackupAsync="false"
             lockingMode="auto"
    />
    {% endif %}

</Context>
